<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Issuer</key>
	<string>https://test.api.myinfo.gov.sg/com/v3/authorise</string>
	<key>ClientID</key>
	<string>client1</string>
	<key>ClientSecret</key>
	<string>client_secret</string>
	<key>PrivateKeySecret</key>
	<string>12345678</string>
	<key>Environment</key>
	<string>test</string>
	<key>RedirectURI</key>
	<dict>
		<key>relative</key>
		<string>https://google.com/callback</string>
	</dict>
	<key>AuthorizationURL</key>
	<dict>
		<key>relative</key>
		<string>https://test.api.myinfo.gov.sg/com/v3/authorise</string>
	</dict>
	<key>TokenURL</key>
	<dict>
		<key>relative</key>
		<string>https://test.api.myinfo.gov.sg/com/v3/token</string>
	</dict>
</dict>
</plist>
